html, body {
    padding: 0;
    margin: 0;
    font-family: var(--font-geist-sans);
    scroll-behavior: smooth;
}

:root {
    --transition-time: 0.5s;
}

.container {
    width: 100%;
    height: 250vh;
    overflow-x: hidden;
    background-color: #4D8BCD;
}

.bg-img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all var(--transition-time) ease-in-out;
}
.bg-img.expanded {
    width: 60%;
    top: 70%;
}

.frame {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    overflow: hidden;
    transition: all var(--transition-time) ease-in-out;
    outline-color: white;
    outline-style: solid;
    outline-width: 20px;
    border-radius: 1px;
}
.frame.expanded {
    outline-width: 50vw;
    width: 15vw;
    height: 400px;
    bottom: 0%;
}
.frame:not(.expanded) {
    outline-width: 0px;
    width: 20vw;
    height: 80vh;
    bottom: -20%;
}

.frame-inner {
    height: 100%;
    width: 99%;
    background: transparent;
    border: 2px solid white;
    border-radius: 30px;
    overflow: hidden;
    outline: 0px solid white;
    transition: outline var(--transition-time) ease-in-out;
    transition-delay: 0.4;
}
.frame-inner.expanded {
    transition-delay: 0s;
    border: none;
    outline: 50px solid white;
}

.expanded-mode {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;

    transition: all 0.7s ease-in-out;
    font-size: 5rem;
    font-weight: bold;
    color: black;
    text-align: center;
    opacity: 100;
}
.expanded-mode.expanded {
    opacity: 1;
    transform: translate(-50%, -100%);
}
.expanded-mode:not(.expanded) {
    opacity: 0;
    transform: translateY(-50%, 0%);
}

.click-me {
    width: max-content;
    border-radius: 9999px;
    background: black;
    padding: 8px 16px;
    font-size: 1.25rem;
    font-weight: 600;
    color: white;
}

.t-right,
.t-left {
    position: absolute;
    top: 80%;
    height: auto;
    width: 12rem;
    transform: translate(0%, -50%);
    border-radius: 8px;
    background: black;
    font-size: 5rem;
    font-weight: bold;
    color: black;
    opacity: 0;
    transition: all var(--transition-time) ease-in-out;
}

.t-right {
    left: 64%;
}
.t-right.expanded {
    opacity: 1;
    transform: translate(-50%, -50%);
}

.t-left {
    right: 64%;
}
.t-left.expanded {
    opacity: 1;
    transform: translate(50%, -50%); 
}

.normal-mode {
    position: absolute;
    left: 20%;
    top: 20%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    font-weight: bold;
    color: white;
    transition: all var(--transition-time) ease-in-out;
}
.normal-mode.expanded {
    opacity: 0;
    transform: translate(-50%, -100%);
}
.normal-mode:not(.expanded) {
    opacity: 1;
    transform: translateY(-50%, 0%);
}
